management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: "health,info"

server:
  port: 9003
  servlet:
    context-path: /backend

feign:
  client:
    config:
      default:
        connectTimeout: 60000
        readTimeout: 60000
        loggerLevel: basic
      itunesconnector:
        url: http://ms-conector:9002/conector
